doctype html

html
  head
    title= title

    meta(name='viewport' content='width=device-width')

    link(rel='stylesheet' href='/stylesheets/flags.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.header
      h1.logo <a href='/'>DGDB</a>

    div.lang-select
      p
        | <a href='?lang=en'><img class='flag flag-gb' src='/images/flags/blank.gif'></a>
        | <a href='?lang=jp'><img class='flag flag-jp' src='/images/flags/blank.gif'></a>

    div.main
      div.nav
        div.fixed
          p.nav
            | <a href='/'>!{__('home:link_to')}</a>

      div.content
        block content
