doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.header
      h1.logo <a href='/'>DGDB</a>

    div.main
      div.nav
        div.fixed
          p.nav
            | <a href='/'>!{__('Home')}</a>

      div.content
        block content
