doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.header
      h1.logo DGDB

    div.main
      div.nav
        div.fixed
          p.nav
            | <a href='/'>Home</a>

      div.content
        block content
